@model List<WebTicket.Entities.Blog>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-02.jpg');">
	<h2 class="ltext-105 cl0 txt-center">
		Blog
	</h2>
</section>

<section class="bg0 p-t-62 p-b-60">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-9 p-b-80">
				<div class="p-r-45 p-r-0-lg">
				
					<!-- item blog -->
				

					@if (ViewBag.Durum != null)
					{
						<div class="row">
							<span style="background-color: #ddcc57;color:white;padding:10px;border-radius: 10px;width: 100%;float: left;margin-bottom: 10px;text-align: center;font-size: 18px;">@ViewBag.Durum</span>
						</div>
					}


				@foreach (var item in Model)
				{
					
							<div class="p-b-63">
								<a href="@Url.Action("BlogDetail","Web", new{id=item.ID})" class="hov-img0 how-pos5-parent">
									<img src="@item.Picture" width="350" height="500" alt="IMG-BLOG">

									<div class="flex-col-c-m size-123 bg9 how-pos5">
										<span class="ltext-107 cl2 txt-center">
											@item.History.Day
										</span>

										<span class="stext-109 cl3 txt-center">
											@item.History.ToString("MMMM"), @item.History.Year
										</span>
									</div>
								</a>

								<div class="p-t-32">
									<h4 class="p-b-15">
										<a href="@Url.Action("BlogDetail","Web", new{id=item.ID})" class="ltext-108 cl2 hov-cl1 trans-04">
											@item.Title
										</a>
									</h4>

									<p class="stext-117 cl6">
										@item.Contents.Substring(0,60) <span> . . . </span>
									</p>

									<div class="flex-w flex-sb-m p-t-18">
										<span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
											<span>
												<span class="cl4">Yazar</span> @item.Author
												<span class="cl12 m-l-4 m-r-6">|</span>
											</span>

											<span>
												@item.Title
												<span class="cl12 m-l-4 m-r-6">|</span>
											</span>

											<span>
												
											
										
											</span>
										</span>

										<a href="@Url.Action("BlogDetail","Web", new{id=item.ID})" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
											Devamını Oku . . .

											<i class="fa fa-long-arrow-right m-l-9"></i>
										</a>
									</div>
								</div>
							</div>
					
						


						
					}	
					
					

					<!-- item blog -->
					

					<!-- Pagination -->
				@*	<div class="flex-l-m flex-w w-full p-t-10 m-lr--7">
						<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
							1
						</a>

						<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7">
							2
						</a>
					</div>*@
				</div>
			</div>

			<div class="col-md-4 col-lg-3 p-b-80">
				<div class="side-menu">


					@using (Html.BeginForm("Blog","Web"))
		{

					<div class="bor17 of-hidden pos-relative">
						<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name="ara" placeholder="Ara . . .">

						<button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>
					</div>


						}

					<div class="p-t-55">
						<h4 class="mtext-112 cl2 p-b-33">
							Kategoriler
						</h4>

						<ul>

							@foreach (var item in ViewBag.ProductC)
			             	{
				                	if (ViewBag.ProductC !=null)
				            	{
							<li class="bor18">

										<a href="@Url.Action("CategoryFiltre", "Web", new {kategori = item.CategoryID = 1 })" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
								
									Bayan
								</a>
							</li>
								}

							}

							@foreach (var item in ViewBag.ProductC)
			             	{
				                	if (ViewBag.ProductC !=null)
				            	{
							<li class="bor18">
										<a href="@Url.Action("CategoryFiltre", "Web", new {kategori = item.CategoryID = 2 })" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
									Bay
								</a>
							</li>
								}

							}

							@foreach (var item in ViewBag.ProductC)
			             	{
				                	if (ViewBag.ProductC !=null)
				            	{
							<li class="bor18">
										<a href="@Url.Action("CategoryFiltre", "Web", new {kategori = item.CategoryID = 3 })" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
									Aksesuar
								</a>
							</li>
								}

							}
						</ul>
					</div>

					<div class="p-t-65">
						<h4 class="mtext-112 cl2 p-b-33">
							Özel Ürünler
						</h4>


						@foreach (var item in ViewBag.Product3)
						{
							@if (ViewBag.Product3 != null)
							{
								<ul>
									<li class="flex-w flex-t p-b-30">
										<a href="@Url.Action("ProductDet","Web", new{id=item.ID})" class="wrao-pic-w size-214 hov-ovelay1 m-r-20">
											<img src="@item.ProductPicture" height="140" alt="PRODUCT">
										</a>

										<div class="size-215 flex-col-t p-t-8">
											<a href="@Url.Action("ProductDet","Web", new{id=item.ID})" class="stext-116 cl8 hov-cl1 trans-04">
												@item.ProductName
											</a>

											<span class="stext-116 cl6 p-t-20">
												@item.ProductPrice TL
											</span>
										</div>
									</li>

								</ul>
							}
						
							
						}
						
					</div>

					
				</div>
			</div>
		</div>
	</div>
</section>