@model WebTicket.Entities.Contact

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/Web/images/bg-01.jpg');">
	<h2 class="ltext-105 cl0 txt-center">
		İletişim
	</h2>
</section>
@if (ViewBag.Durum != null)
{
	<span style="background-color: #3db527;color:white;padding:10px;border-radius: 10px;width: 100%;float: left;margin-bottom: 10px;text-align: center;font-size: 18px;">@ViewBag.Durum</span>

}

<section class="bg0 p-t-104 p-b-116">
	<div class="container">
		<div class="flex-w flex-tr">
			<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">

				@using (Html.BeginForm())
				{
					<h4 class="mtext-105 cl2 txt-center p-b-30">
						Bize Mesaj Gönder
					</h4>

					<div class="bor8 m-b-20 how-pos4-parent">
						<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="Mail" placeholder="Mail Adresiniz" required>
						<img class="how-pos4 pointer-none" src="~/Web/images/icons/icon-email.png" alt="ICON">
					</div>

					<div class="bor8 m-b-30">
						<textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" name="Message" placeholder="Nasıl yardımcı olabilirim?" required></textarea>
					</div>

					<button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
						Gönder
					</button>

				}


			</div>

			<div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
				<div class="flex-w w-full p-b-42">
					<span class="fs-18 cl5 txt-center size-211">
						<span class="lnr lnr-map-marker"></span>
					</span>

					<div class="size-212 p-t-2">
						<span class="mtext-110 cl2">
							Addres
						</span>

						<p class="stext-115 cl6 size-213 p-t-18">


							@if (ViewBag.Adress != null)
							{
								@ViewBag.Adress
							}


						</p>
					</div>
				</div>

				<div class="flex-w w-full p-b-42">
					<span class="fs-18 cl5 txt-center size-211">
						<span class="lnr lnr-phone-handset"></span>
					</span>

					<div class="size-212 p-t-2">
						<span class="mtext-110 cl2">
							Hadi Konuşalım
						</span>

						<p class="stext-115 cl1 size-213 p-t-18">
							<h5>
								@if (ViewBag.Phone != null)
								{
								Tel:
									<a href="tel: @ViewBag.Phone">@ViewBag.Phone</a>
								}


							</h5>
						</p>
					</div>
				</div>

				<div class="flex-w w-full">
					<span class="fs-18 cl5 txt-center size-211">
						<span class="lnr lnr-envelope"></span>
					</span>

					<div class="size-212 p-t-2">
						<span class="mtext-110 cl2">
							Satış Desteği
						</span>

						<p class="stext-115 cl1 size-213 p-t-18">
							<h6>
								@if (ViewBag.Mail != null)
								{
									<p> Mail: <a href="mailto:@ViewBag.Mail">@ViewBag.Mail</a></p>



								}


							</h6>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


