@using X.PagedList
@using X.PagedList.Mvc.Core


@model IPagedList<WebTicket.Entities.Contact>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (TempData["Durum"] != null)
{
    <div class="row">
        <span style="background-color: #ed4949;color:white;padding:10px;border-radius: 10px;width: 100%;float: left;margin-bottom: 10px;text-align: center;font-size: 18px;">@TempData["Durum"]</span>
    </div>
}

<table class="table">
    <tr>
        <td>#</td>
        <td>Mail</td>
        <td>Mesaj</td>
        <td>İşlemler</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Mail</td>
            <td>@item.Message</td>
            <td>
                <a href="@Url.Action("ContactDelete","Admin", new {id = item.ID })" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                <a href="@Url.Action("ContactDetail", "Admin", new {id = item.ID})" class="btn btn-warning"><i class="fa fa-pencil-square-o"></i></a>
            </td>
           
           
        </tr>
    }
</table>
<br />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Contactlist", new {page}))
